---
import '@/styles/global.css';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="icon.png">
        <title>Mycelium Network</title>
    </head>

    <body class="font-['HelveticaNeue-Light','Helvetica_Neue_Light','Helvetica_Neue',Helvetica,Arial,'Lucida_Grande',sans-serif] text-black">
        <main>
            <div class="w-full min-h-[90vh]">
                <img class="w-full h-auto min-h-[90%]" srcset="green-small.jpg 1550w, green.jpg 2560w"
                sizes="(max-width: 600px) 480px, 800px"
                src="green.jpg"/>
            </div>

            <div class="text-right">
                Ackroyd & Harvey, The Lark Descending
            </div>

            <div class="p-[10%] text-[25px]">
                <h1 class="font-[550] text-[55px]">UChicago Mycelium Network</h1>
                <h3 class="font-normal text-[35px]">If it launched from UChicago, we're probably connected</h3>

                <h2 class="font-[550] text-[40px]">We are</h2>
                <ul>
                    <li>Technical, talent-dense, self-selecting, referral-based</li>
                    <li>Meet and ship weekly</li>
                    <li>Friends, intellectual community, financial backer</li>
                </ul>

                <h2 class="font-[550] text-[40px]">Our projects</h2>
                <a href="https://www.mintcashback.com" target="_blank">Mint Cashback</a>, <a href="https://www.linkedin.com/company/browsersurf/" target="_blank">Browser Surf</a>, <a href="https://www.kaiclass.com" target="_blank">Kai Class</a>
                <br>


                <h2 class="font-[550] text-[40px]">Joining</h2>
                We like people who
                <ul>
                    <li>Index on metrics that matter</li>
                    <li>Are obsessive, focused, determined</li>
                    <li>Put things out into the world</li>
                </ul>

                <h2 class="font-[550] text-[40px]">Contact</h2>
                mycelium@uchicago.edu
                <br><br>
                
            </div>
        </main>
    </body>

</html>


